/*This page is used to style the MovieSelection.js folder */


.SM_heading {
  width: 100%;
  font-size: 20px;
}

.SM_main_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
