/* This page is used to style the SelectSeats.js folder */


.SS_heading {
  width: 100%;
  font-size: 20px;
}

.SS_main_container {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
